body{
    background-image: url(img/tlo.png);
    background-attachment: fixed;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
    img{
 position: fixed
    }
.pagorek1{
    
    left: 0%;
    bottom: 0%;
    width: 70%;
    z-index: 2;
}

.pagorek2{
   
    left: 50%;
    bottom: 0%;
    width: 60%;
    z-index: 3;

}

.gory{
    
    left: -15%;
    bottom: 0%;
    width: 130%;
  
}

.choinka1{
left: -3%;
bottom: -5%;
z-index: 41;
width: 20%;
}

.choinka2{
    left: 10%;
    bottom: -5%;
    z-index: 4;
    width: 15%;
    }


    .choinka3{
 right: -3%;
 bottom: -5%;
 z-index: 4;
 width: 20%;
 }
 
 .choinka4{
     right: 10%;
     bottom: -5%;
     z-index: 4;
     width: 15%;
     }

     .choinka5{
  left: 30%;
  bottom: -10%;
  z-index: 41;
  width: 10%;
     }

     .domki1{
  right:20%;
  bottom: 6%;
  z-index: 1;
  width: 30%;
     }

     .domki2{
  right:50%;
  bottom: 6%;
  z-index: 1;
  width: 30%;
     }

     .domki3{
  right:35%;
  bottom: 0%;
  z-index: 3;
  width: 15%;
     }

     .chmura1{
  top: 15%;
  z-index: 4;
  width: 25%;
  right: 60%;
     }

     .chmura2{
  top: 30%;
  z-index: 4;
  width: 20%;
  left: 50%;
     }

     .chmura3{
  top: 0%;
  z-index: 4;
  width: 25%;
  right: 0%;
     }

     .chmura4{
  top: 0%;
  z-index: 4;
  width: 20%;
     }

     .chmura5{
  top: 5%;
  z-index: 4;
  width: 15%;
  left: 40%;
     }

     .chmura6{
  top:40%;
  z-index: 4;
  width: 25%;
     }

     .zyczenia{
      position: fixed;
      z-index: 7;
      z-index: 100;
      padding: 10px;
      background-color:green ;
      width: 25%;   
      right: 38%;
      color: white;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: xx-large;
     }




  
